
.container {
  width: 900px;
  margin: auto;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  justify-content: space-around;
}

.card img{
  width: 150px;
}

h4{
  display: block;
  font-weight: bold;
}

.card p {
  display: block;
  color: black;
  font-size: 15px;
  font-weight: lighter;
}

